@import url('./base/reset');
@import url('./base/typography');
@import url('./base/colors');

/* 
* Preferred Units: rem, % or px (px in specific cases)
* rem = 16px (if user has not changed the default font-size in its browser settings)
*/

::selection {
  background-color: var(--color-primary-accent);
  color: var(--color-primary-bg);
}

html:not([data-theme='light']) img[src$='.svg'] {
  filter: invert(100%);
}

body {
  min-height: 100vh;
  background-color: var(--color-primary-bg);
  color: var(--color-primary-text);
}

